@page "/Nav-Lock"
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<h3>Navigation Lock</h3>
<NavigationLock ConfirmExternalNavigation="true" 
    OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<button @onclick="Navigate">Navigate</button>

@code {
    private void Navigate()
    {
        Navigation.NavigateTo("/NavHistory", new NavigationOptions { HistoryEntryState = $"Hola caracola {System.DateTime.Now:dd/MM/yyyy HH:mm:ss}" });
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var isConfirmed = await JSRuntime.InvokeAsync<bool>("confirm",
            "Abandonamos???");

        if (!isConfirmed)
        {
            context.PreventNavigation();
        }
    }
}